<div class="mat-elevation-z8">
    <h2>Listado de estudiantes</h2>

    <div class="text-end">
      <button class="btn btn-primary me-2" [routerLink]="['nuevo']" >Agregar estudiante</button>
    </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef appFontSize> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nombre Completo">
      <th mat-header-cell *matHeaderCellDef appFontSize> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element | fullName }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DNI">
      <th mat-header-cell *matHeaderCellDef appFontSize> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef appFontSize> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef appFontSize>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button  [routerLink]="[element.id,'editar']" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button [disabled]="!authService.isAdmin()" (click)="deleteStudent(element)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
        <button  (click)="verMas(element.id)" mat-icon-button color="accent" aria-label="Example icon button with a home icon">
          <mat-icon>add</mat-icon>
        </button>        
      </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
</div>
